<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Requisição Web</title>
  <link rel="stylesheet" href="../stylesheets/reset.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="../images/9063logoSRH.ico">
</head>
<body>
  <header>
    <img src="<%=imagem%>" alt="Logo San Raphael">
    <h1><%= title %></h1>
  </header>
  <main>
    <h2>
      Clique em um link para ser direcionado a requisição do seu setor:
    </h2>
    <ul id="link_setores">
      <section>
        <% for(let item of listaSetores) { %>
        <div><li><a href="<%=link + item%>"> <span><%= item %></span></a></li></div>
        <% } %>
     </section>
    </ul>
  </main>
  <footer>
    <p>&copy;Copyright San Raphael 2020</p>
  </footer>
</body>
</html>
