<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requisição Cozinha</title>
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/reqPages.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/9063logoSRH.ico">
</head>
<body>
    <header>
        <img src="../images/logoSRH.png" alt="Logo San Raphael">
        <div id="header">
            <h1><%= title %></h1>
            <h2>Cozinha</h2>
        </div>
    </header>
    <main>
        <section>
            <form action="/reqCozinha" method="POST">
                <% for(let item in itensCozinha) { %>
                    <p>
                    <input type="number" min="0" max="30" name="<%= itensCozinha[item] %>">
                    <label for="<%= itensCozinha[item] %>"><%= itensCozinha[item] %></label>
                    </p>
                <% } %>
                <button type="submit">Confirmar</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy;Copyright San Raphael 2020</p>
    </footer>
</body>
</html>