<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Requisição Cozinha</title>
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/9063logoSRH.ico">
</head>
<body>
    <header>
        <img src="../images/logoSRH.png" alt="Logo San Raphael">
        <h1><%= title %></h1>
        <h2>Cozinha</h2>
    </header>
    <main>
        <form action="/reqCozinha" method="POST">
            <% for(let item in itensCozinha) { %> 
                <label for="<%= itensCozinha[item] %>"><input type="number" min="0" max="30"><%= itensCozinha[item] %></label>
            <% } %>
            <button type="submit">Confirmar</button>
        </form>
    </main>
    <p</p>
</body>
</html>