body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 940px;
  margin: 10px auto;
  border: #000 solid 5px;
  border-radius: 20px;
  box-shadow:rgb(46, 46, 46) 10px 10px;
  background-image: linear-gradient(#B0975B,#fff,#B0975B);
}

header {
  text-align: center;
  margin: 20px auto;
  font-size: 40px;
  font-weight: bolder;
  padding: 5px;
}

header h1 {
  border: solid #000 1px;
  border-radius: 20px;
  background: rgb(238, 238, 238);
}

header img {
  border-radius: 20px;
  box-shadow: #ccc 4px 5px;
}

main {
  text-align: center;
  margin: 5 auto;
  font-size: 25px;
  font-weight: bolder;
  padding: 5px;
}

a {
  text-decoration: none;
  color: #000;
  margin: 10px 20px;
}

a:hover {
  color: #00B7FF;
  font-size: 28px;
}

footer div p {
  text-align: center;
  margin: 10px auto;
  font-weight: bolder;
}
